aiohappyeyeballs==2.6.1
aiohttp==3.12.13
aiosignal==1.3.2
alembic==1.15.2
annotated-types==0.7.0
async-timeout==5.0.1
attrs==25.3.0
audioread==3.0.1
black==25.1.0
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
cloudpickle==3.1.1
cmaes==0.11.1
colorlog==6.9.0
contourpy==1.3.0
cycler==0.12.1
dask==2024.8.0
dask-jobqueue==0.8.5
dask-optuna==0.0.2
decorator==5.2.1
distributed==2024.8.0
docker-pycreds==0.4.0
eval_type_backport==0.2.2
expelliarmus==1.1.12
filelock==3.18.0
flake8==7.2.0
fonttools==4.57.0
frozenlist==1.7.0
fsspec==2025.3.2
git-filter-repo==2.47.0
gitdb==4.0.12
GitPython==3.1.44
greenlet==3.2.1
h5py==3.13.0
idna==3.10
importlib_metadata==8.7.0
importlib_resources==6.5.2
importRosbag==1.0.4
Jinja2==3.1.6
joblib==1.4.2
kiwisolver==1.4.7
lazy_loader==0.4
librosa==0.11.0
lightning==2.5.1.post0
lightning-utilities==0.14.3
llvmlite==0.43.0
locket==1.0.0
Mako==1.3.10
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.9.4
mccabe==0.7.0
mdurl==0.1.2
mpmath==1.3.0
msgpack==1.1.0
multidict==6.4.4
mypy-extensions==1.0.0
networkx==3.2.1
np==1.0.2
numba==0.60.0
numpy==1.26.4
nvidia-cublas-cu12==12.6.4.1
nvidia-cuda-cupti-cu12==12.6.80
nvidia-cuda-nvrtc-cu12==12.6.77
nvidia-cuda-runtime-cu12==12.6.77
nvidia-cudnn-cu12==9.5.1.17
nvidia-cufft-cu12==11.3.0.4
nvidia-cufile-cu12==1.11.1.6
nvidia-curand-cu12==10.3.7.77
nvidia-cusolver-cu12==11.7.1.2
nvidia-cusparse-cu12==12.5.4.2
nvidia-cusparselt-cu12==0.6.3
nvidia-nccl-cu12==2.26.2
nvidia-nvjitlink-cu12==12.6.85
nvidia-nvtx-cu12==12.6.77
optuna==3.3.0
optuna-distributed==0.7.0
optuna-integration==4.3.0
packaging==24.2
pandas==2.2.3
partd==1.4.2
pathspec==0.12.1
pbr==6.1.1
pillow==11.2.1
platformdirs==4.3.7
pooch==1.8.2
propcache==0.3.2
protobuf==5.29.4
psutil==7.0.0
pycodestyle==2.13.0
pycparser==2.22
pydantic==2.11.3
pydantic_core==2.33.1
pyflakes==3.3.2
Pygments==2.19.1
pyparsing==3.2.3
python-dateutil==2.9.0.post0
pytorch-lightning==2.4.0
pytz==2025.2
PyYAML==6.0.2
requests==2.32.3
rich==14.0.0
scikit-learn==1.6.1
scipy==1.13.1
seaborn==0.13.2
sentry-sdk==2.26.1
setproctitle==1.3.5
six==1.17.0
sklearn==0.0
smmap==5.0.2
sortedcontainers==2.4.0
soundfile==0.13.1
soxr==0.5.0.post1
SQLAlchemy==2.0.40
sympy==1.14.0
tblib==3.1.0
threadpoolctl==3.6.0
tomli==2.2.1
tonic==1.6.0
toolz==1.0.0
torch==2.7.1
torchmetrics==1.7.3
torchvision==0.22.1
tornado==6.4.2
tqdm==4.67.1
triton==3.3.1
typing-inspection==0.4.0
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.4.0
wandb==0.19.9
yarl==1.20.1
zict==3.0.0
zipp==3.21.0
